
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book App</title>
  <link href="../../public/styles/reset.css" type="text/css" rel="stylesheet"/>
  <link href="../../public/styles/base.css" type="text/css" rel="stylesheet"/>
  <link href="../../public/styles/layout.css" type="text/css" rel="stylesheet"/>
  <link href="../../public/styles/modules.css" type="text/css" rel="stylesheet"/>
  <link href="../../public/styles/icons.css" type="text/css" rel="stylesheet"/>

</head>

<section>
  <h2>Best Books!</h2>
  <img src="images/menuIcon.png" alt="">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="searches/new">Search the Google Books API</a></li>
    </ul>
  </nav>
</section>