
<header>
  <section>
    <h2>Best Books!</h2>
    <img src="images/menuIcon.png" alt="">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="searches/new">Search the Google Books API</a></li>
      </ul>
    </nav>
  </section>
</header>