
<!-- be sure this matches the test with all variables and the for() @show.ejs then delete from show.ejs and use `include()`  -->
<li>
  <img src="#" alt="book cover of title">
  <h2></h2>
  <h3></h3>
  <p></p>
</li>