
<!-- be sure this matches the test with all variables and the for() @show.ejs then delete from show.ejs and use `include()`  -->

  <img src="<%= result_list[i].img %>" alt="book cover of <%= result_list[i].title %>">
  <h2><%= result_list[i].author %></h2>
  <h3><%= result_list[i].title %></h3>
