<%- include ('../../partials/er-partials.ejs') %>

<body>
  <h1></h1>
  <form action="/pages/searches/show" method="POST">
    <label for="search">Search</label>
    <input name="search" type="text" required>
    <label for="author">Search by Author</label>
    <input name="author" type="checkbox">
    <input type="submit">
  </form>
  
</body>
</html>