<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book App</title>
  <link href="public/styles/reset.css" type="text/css" rel="stylesheet"/>
  <link href="public/styles/base.css" type="text/css" rel="stylesheet"/>
  <link href="public/styles/layout.css" type="text/css" rel="stylesheet"/>
  <link href="public/styles/modules.css" type="text/css" rel="stylesheet"/>
  <link href="public/styles/icons.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<!-- baseline code for -->

 <!-- put ul with an <h3> and a <p> inside the <li>s for results to render ul === results array from @server.js/app.post:fn:displayResults   li === ul[i] && contains 4 properties displaying the image, title, authors, description -->
<!-- started with all ten listings, I am unclear how to render as template. probably make the <ul><li><liContents> into a partial and then use ejs for() to iterate and render to page. -->
<% %>
<ul>
  <li>
    <img src="#" alt="book cover of title">
    <h2></h2>
    <h3></h3>
    <p></p>
  </li>
</ul>





  
</body>
</html>