<%- include ('../../partials/he-partials.ejs') %>
<body>
<%- include ('../../partials/er-partials.ejs') %>

<h1>You done messed up and...</h1>
<p>
<img src="../../public/images/dat.jpg" alt="">
</p>

<p>Error <%= error %></p>


  <script src="../../../server.js"></script>
</body>
</html>