<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Woops!</title>

  <title>Search Books</title>
  <link href="../../reset.css" type="text/css" rel="stylesheet"/>
  <link href="../../base.css" type="text/css" rel="stylesheet"/>
  <link href="../../layout.css" type="text/css" rel="stylesheet"/>
  <link href="../../modules.css" type="text/css" rel="stylesheet"/>
  <link href="../../icons.css" type="text/css" rel="stylesheet"/>

</head>
<body>
  
</body>
</html>

<h1>You done messed up and...</h1>
<p>
<img src="../../public/images/dat.jpg" alt="">
</p>

<p>Error <%= error %></p>


  <script src="../../../server.js"></script>
</body>
</html>